* {
    font-family: 'Courier New', Courier, monospace;
    transition: all 0.3s ease;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(224, 224, 222);
}

.main {
    background-image: url("./images/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-container {
    max-width: 1440px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title {
    font-size: 48px;
    text-align: center;
    color: rgb(2, 80, 73);
}

.nav-container {
    margin: 0 auto;
}

.nav-container #nav-links {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.nav-container #nav-links li {
    display: inline;
    text-align: center;
    box-shadow: 0 5px 15px 2px rgba(0,0,0,0.2);
    border-radius: 10px;
}

.card-image {
    height: 200px;
    width: 300px;
    overflow: hidden;
}

.card-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.card-image img:hover {
    scale: 1.1;
}

.link-card h3 {
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    backdrop-filter: blur(10px);
}

ul {
    list-style: none;
}

li {
    margin: 10px 20px;
}

.back-btn {
    display: block;
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding: 8px 24px;
    border-radius: 10px;

}

#nav-links li a, .back-btn {
    color: black;
    text-decoration: none;
}

.back-btn:hover {
    background-color: rgb(2, 80, 73);
    color: rgb(253, 241, 243);
}

#nav-links a:hover {
    color: rgb(2, 80, 73);
    border-color: rgb(2, 80, 73);
}

.image-container {
    margin: 0 auto;
}

.food-image {
    width: 100%;
    height: 600px;
    max-height: 600px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 10px 20px 4px rgba(0,0,0,0.2);
    margin-top: 20px;
}

.sub-title {
   background-color: rgba(0,0,0,0.2);
   border-radius: 10px;
   padding: 10px;
}

.description-container {
    background-color: rgb(2, 80, 73);
    color: white;
    padding-bottom: 10px;
    margin: 16px 0;
    border-radius: 10px;
}

.description-container .content {
    padding: 20px;
}